<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
  <ion-title>Add New Notes</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <ion-list>
            <ion-item>
              <ion-label>Date</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" [min]='mindate' max="2100-12-09" [(ngModel)]="date"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Time</ion-label>
              <ion-datetime display-format="h:mm A" placeholder="Select time" picker-format="h:mm A" [(ngModel)]='time'></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                Title
              </ion-label>
              <ion-input placeholder="Title" [(ngModel)]="noteTitle"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                New Note
              </ion-label>
              <ion-textarea placeholder="Enter your Notes here..." [(ngModel)]="newnotes"></ion-textarea>
            </ion-item>
          </ion-list>
          <ion-grid>
            <ion-row text-center>
              <ion-col>
                  <ion-button (click)="postNewNotes()" color="primary">
                      CONFIRM
                  </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-card-content>
  </ion-card>
  

</ion-content>
