<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>noteDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label slot="start">
            Date 
          </ion-label>
          <p slot="end">
            {{ noteDetail.date }}
          </p>

        </ion-item>

        <ion-item>
            <ion-label slot="start">
             Time
            </ion-label>
            <p slot="end">
               {{ noteDetail.time }}
            </p>
  
          </ion-item>

        <ion-item>
            <ion-label slot="start">
              Title 
            </ion-label>
            <p slot="end">
              {{ noteDetail.title }}
            </p>
  
          </ion-item>

          <ion-item>
              <ion-label slot="start">
                Note 
              </ion-label>
              <p slot="end">
                {{ noteDetail.note }}
              </p>
    
            </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
