<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-content text-center>
        <ion-button (click)="newNote()" color="primary" icon-end>
            <ion-icon name="add-circle"></ion-icon>
            ADD NOTES
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-list *ngIf="mynotes.length > 0">
      <ion-list-header>
        <ion-label>My Notes</ion-label>
      </ion-list-header>

      <ion-item *ngFor='let note of mynotes'>
          <ion-icon slot="start" color="medium" name="book"></ion-icon>
          <ion-label [routerLink]="['/', 'note-details', note.id]">
            <h5>{{ note.title }}</h5>
            <p> {{ note.note }} </p>
            <p> {{ note.date }} - {{ note.time }} </p>
          </ion-label>
          
          <ion-icon slot="end" (click)='delete( note )' color="medium" name="trash"></ion-icon>
          

      </ion-item>
    </ion-list>
    <ion-card *ngIf="mynotes.length == 0">
      <ion-card-content>
        <h5>No Notes Available</h5>
        <p>Please add new Notes</p>
      </ion-card-content>
    </ion-card>
</ion-content>
